
$black:#040404;
$dark-gray:rgb(51,51,51);
$med-gray:rgb(77,77,77);
$lite-gray:rgb(153,153,153);
$green:rgb(67,115,109);
$white:#FFFFFF;
$red:#992225;
$bright-red:#e73e43;
$cool-white:#e6e6e6;
$warm-white:#f2f2f2;
$yellow:#ffcf40;
$lite-blue:#cafcf8;
$content-text:#4F4F4F;

$bold:'FreightSansProBold-Regular';
$book:'FreightSansProBook-Regular';
$italic:'FreightSansProBook-Italic';
$text-italic:'FreightTextProBook-Italic';
$text-regular:'FreightTextProBook-Regular';
$text-black:'FreightTextProBlack-Regular';
$black-italic:'FreightSansProBlack-Italic';